NODE_ENV=development
FRONT_URL=your_front_url
FRONT_BASE_HREF=null      // null in dev, just in case in production mode
BACK_URL=your_back_url
DATABASE_NAME=your_database_name
DATABASE_USERNAME=your_mariadb_user_name
DATABASE_PASSWORD=your_mariadb_password
DATABASE_HOST=your_mariadb_host
DATABASE_PORT=your_mariadb_port
DATABASE_URL=your_mariadb_URI
DATABASE_MONGO_DB_URI=your_mongodb_URI
EMAILJS_PUBLIC_API_KEY=your_email_js_public_key
EMAILJS_PRIVATE_API_KEY=your_email_js_private_key
EMAILJS_SERVICE_ID=your_email_js_service_id
EMAILJS_TEMPLATE_ID=your_email_js_template_id
JWT_USER_SECRET=your_jwt_secret_key_for_user_token
JWT_IMAGE_SECRET=your_jwt_secret_key_for_image_token
PORT=your_back_end_port
STRIPE_PUBLIC_KEY=pk_test_your_stripe_public_key
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key